.m-wrapper{
	width : 800px;
	margin : 0 auto;
	position : relative;
}

header{
	margin : 5px 0 25px 0;
}

section{
	margin : 5px 0;
	min-height : 400px;
}

footer{
	margin : 10px 0;
	text-align : center;
}

footer{
	text-align:center;
	font-size:smaller;
	color:#333;
	padding-top:20px;
}